*{
    margin: 0 auto;
    padding: 0;
}

body{
    width: 1000px;
    height: 720px;
    background: linear-gradient(0deg, rgb(206, 159, 252), rgb(115, 103, 240));
}

.slider{
    position: relative;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    border: 10px solid #fff;
    border-radius: 20px;
}

.slider img{
    width: 100%;
    border-radius: 20px;
}
.slick-own-btn{
    position: absolute;
    z-index: 999;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-own-btn:hover{
    background: red;
    color: #fff;
    transition: 1s;
}
.own-btn-prev{
    left: 20px;
}

.own-btn-next{
    right: 20px;
}